// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Seaweed+Script&display=swap&family=Roboto&display=swap|Merriweather&display=swap');

@import 'studio/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


h1{
    color: $brand-main;
    font-family: 'Seaweed Script', cursive;
}

h4{
    color: $brand-main;
    font-size: 2rem!important;
   font-family: 'Seaweed Script', cursive;
}

a img{
    transition: all 0.25s linear;
    filter: grayscale(1);
}


a:hover img{
    filter: grayscale(0);
}


.bordered-image, .card img{
    border-radius: 1rem;
}